/* GLOBAL STYLES */
root {
    --color-lightGrey: #FFFFFFB3;
    --color-darkGrey: #242424;
    --color-lightGold: #DAB55D;
    --color-gold: #B69037;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background: #ECECECB3;
    font: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;

    /* background: #051223; */
    /* background: #081b33; */
    /* background: #122450; */
}



/* HEADER CONTENT */
header {
    /* border: 1px solid magenta; */
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
}

    .header-wrapper{
        display: flex;
        justify-content: flex-start;
        align-content: center;
        
        width: 100%;
        height: 100%;
    }

        .header-wrapper a {
            text-decoration: none;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: normal;
            font-size: 0.7rem;
            color: #242424;
        }

        .site-logo {
            width: auto;
            height: 1.5rem;
            margin: auto 0;
        }

        .header-links {
            /* border: 1px solid black; */
            display: flex;;
            align-items: center;

            margin-left: auto;
        }

            .header-links a {
                margin-right: 1rem;
            }



/* MAIN CONTENT */
main {
    padding: 0 1rem;
    width: 100%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    color: #242424;
}

    main section {

    }

.main-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 10rem;

    /* font-family: 'Poppins'; */
    /* font-family: 'Open Sans'; */
    font-family: 'Raleway';
    font-style: normal;
    color: #242424;
}

    .title {
        /* font-family: 'Open Sans'; */
        font-weight: 500;
        font-size: 2rem;
    }

    .sub-title {
        font-weight: 200;
        font-size: 1.5rem;
    }

        .sub-title span {
            font-weight: 100;
            font-size: 1rem;
        }

/* .main-about {

} */

/* .main-technologies {

} */

.main-projects {
    
    /* margin: 0 1rem; */

    /* border: 0.2rem solid #242424; */
    border-radius: 0.4rem;
}




/* FOOTER CONTENT */
footer {
    margin-top: auto;
    background: #242424;
}

    .footer-wrapper {
        /* width: 100%; */
        height: 2rem;
    }



/* ========== FLUID TYPOGRAPHY ==========
    RANGE   TARGET    VW (px)   HTML-FONT (px)
    MIN     MOBILE    >= 375    16.0
    MEDIAN  TABLET    ~= 790    24.0
    MAX     DESKTOP+  <= 1200   32.0

    SAUCE:    https://www.madebymike.com.au/writing/fluid-type-calc-examples/
    EQUATION:  minFont + (maxFont - minFont) * [(100vw - minVPWidth) / (maxVPWidth - minVPWidth)]
   ====================================== */
@media screen and (min-width: 375px) {
    html {
        font-size: calc(16px + 16 * ((100vw - 375px) / 825));
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 32px;
    }
}