/* GLOBAL STYLES */
root {
    --color-lightGrey: #FFFFFFB3;
    --color-darkGrey: #242424;
    --color-lightGold: #DAB55D;
    --color-gold: #B69037;

    --color-grey1: #808080;
    --color-grey2: #606060;
    --color-grey3: #404040;
    --color-grey4: #202020;
    --color-grey5: #000000;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background: #ecececb3;
    font: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}



/* HEADER CONTENT */
header {
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
}

    .header-wrapper{
        display: flex;
        justify-content: flex-start;
        align-content: center;
        
        width: 100%;
        height: 100%;
    }

        .header-wrapper a {
            text-decoration: none;

            font-family: 'Poppins';
            font-style: normal;
            font-weight: normal;
            font-size: 0.7rem;
            color: #242424;
        }

        .site-logo {
            width: auto;
            height: 1.5rem;
            margin: auto 0;
        }

        .header-links {
            display: flex;
            align-items: center;

            margin-left: auto;
        }

            .header-links a {
                margin-right: 1rem;
            }



/* MAIN CONTENT */
/* main {
    padding: 0 1rem;
    width: 100%;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    color: #242424;
} */

.hero {
    /* border: 1px solid magenta; */
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 14rem;

    /* font-family: 'Poppins'; */
    /* font-family: 'Open Sans'; */
    font-family: 'Raleway';
    font-style: normal;
    color: #646464;
}
    .wave {
        position: absolute;
        left: 0;
        bottom: 0;
        
        width: 100%;
        height: 5rem;

        background: url('./resources/img/backgrounds/wave.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wave1 {
        animation: wave1 20s linear infinite;
    }

    @keyframes wave1 {
        0% {
            background-position-x: 0;
        }
        100% {
            background-position-x: 10rem;
        }
    }

    .title {
        /* font-family: 'Open Sans'; */
        font-weight: 500;
        font-size: 2rem;
    }
    
    .sub-title {
        font-weight: 200;
        font-size: 1.5rem;
        color: #242424;
    }

        .sub-title span {
            font-weight: 100;
            font-size: 1rem;
        }

    .links {
        display: flex;
        /* justify-content: center; */
    }

        .hero-link {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 4.2rem;
            height: 1.4rem;
            margin: 1rem 1rem;
            
            border: 2px solid #646464;

            cursor: pointer;
        }

            .hero-link a {
                font-family: 'Raleway';
                font-size: 0.6rem;
                text-transform: uppercase;
                color: #000;
            }

.main-about {
    /* background: #424242; */
    height: 20rem;
    /* clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%); */
    /* clip-path: polygon(100% 0%, 0% 0% , 0% 65.00%, 1% 64.98%, 2% 64.93%, 3% 64.85%, 4% 64.73%, 5% 64.58%, 6% 64.39%, 7% 64.17%, 8% 63.92%, 9% 63.64%, 10% 63.33%, 11% 62.99%, 12% 62.62%, 13% 62.22%, 14% 61.79%, 15% 61.33%, 16% 60.85%, 17% 60.35%, 18% 59.82%, 19% 59.27%, 20% 58.70%, 21% 58.10%, 22% 57.49%, 23% 56.87%, 24% 56.22%, 25% 55.57%, 26% 54.90%, 27% 54.22%, 28% 53.53%, 29% 52.83%, 30% 52.13%, 31% 51.42%, 32% 50.70%, 33% 49.99%, 34% 49.28%, 35% 48.56%, 36% 47.86%, 37% 47.15%, 38% 46.45%, 39% 45.76%, 40% 45.08%, 41% 44.41%, 42% 43.76%, 43% 43.12%, 44% 42.49%, 45% 41.88%, 46% 41.29%, 47% 40.72%, 48% 40.17%, 49% 39.64%, 50% 39.13%, 51% 38.65%, 52% 38.20%, 53% 37.77%, 54% 37.37%, 55% 37.00%, 56% 36.66%, 57% 36.35%, 58% 36.07%, 59% 35.82%, 60% 35.60%, 61% 35.42%, 62% 35.27%, 63% 35.15%, 64% 35.07%, 65% 35.02%, 66% 35.00%, 67% 35.02%, 68% 35.07%, 69% 35.16%, 70% 35.27%, 71% 35.43%, 72% 35.61%, 73% 35.83%, 74% 36.08%, 75% 36.36%, 76% 36.68%, 77% 37.02%, 78% 37.39%, 79% 37.79%, 80% 38.22%, 81% 38.68%, 82% 39.16%, 83% 39.67%, 84% 40.20%, 85% 40.75%, 86% 41.32%, 87% 41.91%, 88% 42.52%, 89% 43.15%, 90% 43.79%, 91% 44.45%, 92% 45.12%, 93% 45.80%, 94% 46.49%, 95% 47.19%, 96% 47.89%, 97% 48.60%, 98% 49.31%, 99% 50.03%, 100% 50.74%); */
}

/* .main-projects {
    background: #242424;
} */

#wave {
    width: 100%;
    height: 30rem;
}

    .pokevm-showcase {
        width: auto;
        height: 10rem;
    }

    .pokevm-showcase-still {
        width: auto;
        height: 10rem;
    }

    