*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font: 16px;
    // background: $grey-100;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: 1.5;
    @include fontRaleway();
}

h1, h2, h3, h4, p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

.container {
    position: relative;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.btn {
    @include font-properties(0.6rem, 600, null);
    padding: 0.3rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;

    appearance: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
        user-select: none;
        transform: scale(1.15);
    }
}

.btn-light {
    border: 2px solid $grey-100;
}

.btn-dark {
    border: 2px solid $grey-600;
    background: #FFF;
}

// .button {
//     margin: 1.5rem 1rem;
//     border-radius: 5px;
    
//     padding: 0.4rem 0.8rem;
// }

.static-wave {
    position: absolute;
    bottom: -10px;
    width: 100%;
}