*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font: 16px;
    // background: $grey-100;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: 1.5;
    @include fontRaleway();
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

.container {
    position: relative;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.btn {
    @include font-properties(0.6rem, 600, null);
    padding: 0.3rem 1rem;
    border-radius: 5px;
    text-transform: uppercase;

    appearance: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

    &:hover {
        user-select: none;
        transform: scale(1.15);
    }
}

.wave-static {
    position: absolute;
    bottom: -10px;
    width: 100%;
}

.click-response {
    animation: clickResponse 800ms cubic-bezier(0.22, 1, 0.36, 1) infinite;
}

@keyframes clickResponse {
    0%, 100% {
        font-size: 0.8rem;
    }

    // START => 200ms | NO ROTATION
    0%, 25% {
        transform: rotate(0deg);
    }
    
    // 200ms => 600ms | ICON SCALE +
    25%, 75% {
        font-size: 1.1rem;
    }

    //// 200ms => 300ms | ROTATION ⟲
    25%, 40% {
        transform: rotate(45deg);
    }

    //// 300ms => 500ms | ROTATION ⟳
    40%, 60% {
        transform: rotate(-45deg);
    }

    // 600ms => END | NO ROTATION
    75%, 100% {
        transform: rotate(0deg);
    }
}