*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font: 16px;
    // background: $grey-100;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: 1.5;
    @include fontRaleway();
}

h1, h2, h3, h4, p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

.container {
    // @include border();
    position: relative;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.button {
    width: 4rem;
    height: 1.6rem;
    margin: 1rem;
    border-radius: 3px;
    
    font-size: 0.6rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: transform 0.2s ease-in-out;

    &:hover,
    &:active {
        transform: scale(1.15);
        user-select: none;
        cursor: pointer;
    }
}

.static-wave {
    position: absolute;
    bottom: -5px;
    width: 100%;
}