$grey1: #ECECECB3;
$grey2: #858585;
$grey3: #656565;
$grey4: #454545;
$grey5: #252525;
$grey6: #1B1B1B;

$goldLight: #DAB55D;
$goldDark:  #B69037;

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin fontRaleway {
    font-family: 'Raleway', serif;
    font-style: normal;
    font-weight: normal;
}

@mixin fontPoppings {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: normal;
}

// @mixin fontMontserrat {
//     font-family: 'Montserrat', serif;
//     font-style: normal;
//     font-weight: normal;
// }