$grey1: #ECECECB3;
$grey2: #858585;
$grey3: #656565;
$grey4: #454545;
$grey5: #252525;
$grey6: #1B1B1B;

$grey-100: #EEEEEE;
$grey-200: #CCCCCC;
$grey-300: #999999;
$grey-400: #666666;
$grey-500: #333333;
$grey-600: #222222;
$grey-700: #111111;

$gold-100: #EFE3BD;
$gold-200: #E7D59E;
$gold-300: #DFC780;
$gold-400: #DAB55D;
$gold-500: #C8A34A;
$gold-600: #B69037;
$gold-700: #AA8733;
$gold-800: #A17F2F;
$gold-900: #97782D;

$gold-light:  #DAB55D;
$gold-dark:   #B69037;
$bronze-light:#DEAA74;
$bronze-dark: #CD7F32;

$bronze:     #DEAA74;

@mixin border($color: magenta) {
    border: 0.1px solid $color;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin font-properties($size, $weight, $color) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin fontRaleway($size: null, $weight: null, $color: null) {
    font-family: 'Raleway', serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin fontPoppings {
    font-family: 'Poppins', serif;
    font-style: normal;
    font-weight: normal;
}