@import "./wave-animations";
@import "./variables";
@import "./global-styles";

header {
    position: relative;
    @include flex(column, center, flex-start);
    // height: 100vh;
    overflow: hidden;

    background: url(../assets/images/backgrounds/rockywall.png) center / contain repeat $grey-200;
    background-blend-mode: overlay;

    #navbar {
        @include absolute(0, 0, null, 0);
        z-index: 1;
        
        @include flex(row, center, baseline);
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
        padding-top: 0.8rem;

        #logo {
            height: 2rem;
        }

        nav {
            margin-left: auto;

            .nav-link {
                margin-left: 0.5rem;

                .nav-icon {
                    height: 1.8rem;
                    opacity: 40%;
                    transition: transform 0.2s ease-in-out;

                    &:hover,
                    &:active {
                        opacity: 100%;
                        transform: scale(1.2);
                        user-select: none;
                    }
                }
            }
        }
    }

    #hero {
        // @include border();
        @include flex(column, center, center);
        padding-top: 7rem;
        padding-bottom: 7rem;
        
        .title {
            @include font-properties(1.5rem, 200, #6A6A6A);
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        .subtitle {
            @include font-properties(1.4rem, 200, $grey-500);

            span {
                @include font-properties(0.8rem, 300, $grey-500);
                letter-spacing: 1px;
            }
        }

        div {
            .btn {
                margin: 1rem 1rem;
                border: 2px solid $grey-600;
                background: #FFF;

                &:hover {
                    border: 2px solid $grey-600;
                    background: $grey-600;
                    color: #FFF;
                }
            }
        }
    }
}


main {
    width: 100%;
    overflow: hidden;

    #about {
        position: relative;
        padding: 3rem 0 8rem 0;
        background: $grey-600;

        .title {
            @include absolute(-0.6rem, 0, null, 0);
            width: 8rem;
            margin: 0 auto;
            background: $grey-600;

            @include font-properties(0.9rem, 300, $grey-200);
            text-align: center;
            text-transform: uppercase;
        }

        .body {
            padding: 1.5rem;
            border: 1px solid $gold-light;
            border-radius: 5px;

            @include font-properties(0.7rem, 300, $grey-200);
            text-align: justify;
            line-height: 2;
        }

        .ornate-frame {
            position: absolute;
            height: 2rem;
            margin: 0.2rem;
            opacity: 70%;
        }
    }

    #projects {
        position: relative;
        padding: 3rem 0 8rem 0;
        background-color: $grey-500;
        
        .project {
            @include flex(column, center, center);
            
            &:nth-child(2) {
                margin-top: 3rem;
            }

            .title {
                @include fontRaleway(1.5rem, 300, $grey-100);
                margin-right: 2.4rem;

                span {
                    color: $grey-300;
                    // color: #9E9E9E;
                }
            }

            .showcase {
                width: 14rem;
                height: auto;
            }

            .description {
                margin-top: 1rem;

                @include font-properties(0.8rem, 300, #C5C5C5);
                text-align: justify;
            }

            div {
                @include flex(row, center, center);

                .btn {
                    margin: 1rem 1rem;
                    border: 2px solid $grey-200;
                    background: transparent;
                    color: $grey-200;
    
                    &:hover {
                        border: 2px solid #FFF;
                        background: #FFF;
                        color: $grey-600;
                    }
                }
            }
        }
    }

    #skills {
        position: relative;
        padding: 2rem 0 8rem 0;
        padding: 10rem 0;
        background: $grey-600;

        .skillset {
            @include flex(row, space-around, center);
            position: relative;
            margin: 2.5rem auto;
            padding: 0.5rem;
            // border: 1px solid $gold-dark;
            // border-radius: 1px;

            h3 {
                @include absolute(-1.4rem, null, null, null);

                font-size: 0.8rem;
                font-weight: 300;
                text-transform: uppercase;
                color: $grey1;
                text-align: center;
            }

            img {
                width: auto;
                height: 2rem;
            }
        }
    }
}


footer {
    width: 100%;
    background: $grey-500;
    padding: 2rem 0;

    #contact-info {
        
        .logo-animated {
            display: block;
            width: 7rem;
            height: auto;
            margin: 0 auto;
        }

        .info-wrapper {
            @include flex(column, space-around, center);
            width: 100%;
            height: 10rem;
            margin: 2rem auto 0 auto;

            .info-group {
                @include flex(row, space-between, center);
                width: 80%;

                .contact-icon  {
                    font-size: 1.2rem;
                    color: $grey-100;
                }

                h4, a {
                    @include fontRaleway(0.9rem, 200, $grey-200);
                    margin-left: 1.5rem;
                    letter-spacing: 1px;

                    &:hover {
                        color: $gold-dark;
                        font-weight: 300;
                    }
                }
            }
        }

    }
    
    #contact-form {
        // @include border();
        width: 100%;
        margin-top: 2rem;

        // .form-title {
        //     // @include border();
        //     @include font-properties(1rem, 500, $grey-200);
        //     text-transform: uppercase;
        //     text-align: center;
        //     margin-bottom: 1rem;
        // }

        form {
            @include flex(column, center, center);
            width: 90%;
            margin: 0 auto;

            .form-group {
                @include flex(row, flex-start, center);
                width: 100%;
                height: 1.5rem;

                border-bottom: 1px solid #CCCCCC46;
                margin-bottom: 2rem;


                .form-icon {
                    margin-right: 1rem;
                    font-size: 0.8rem;
                    color: $grey-100;
                }

                input {
                    @include fontRaleway(1rem, 400, $grey-100);
                    background: none;
                    width: 100%;
                }

                textarea {
                    @include fontRaleway(1rem, 400, $grey-100);
                    background: none;
                    resize: none;
                    
                    width: 100%;
                    height: 1.2rem;
                }
                
                input:focus,
                textarea:focus,
                select:focus {
                    outline: none;
                }
            }

            .btn {
                appearance: none;
                color: $grey-200;
                background: transparent;
                border: 2px solid $grey-200;
    
                &:hover {
                    color: $grey-600;
                    background: #FFF;
                    border: 2px solid #FFF;
                }
            }
        }

    }
}







@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 12 * ((100vw - 320px) / 780));
    }
}

@media screen and (min-width: 1100px) {
    html {
        font-size: 28px;
    }
}

@media (min-width: 900px) {
    main {
        #about {
            padding-bottom: 10rem;
        }

        #projects {
            padding-bottom: 10rem;
        }

        #skills {
            padding-bottom: 10rem;
        }
    }
}

@media (min-width: 1300px) {
    main {
        #about {
            padding-bottom: 12rem;
        }

        #projects {
            padding-bottom: 12rem;
        }

        #skills {
            padding-bottom: 12rem;
        }
    }
}

@media (min-width: 1600px) {
    main {
        #about {
            padding-bottom: 15rem;
        }

        #projects {
            padding-bottom: 15rem;
        }

        #skills {
            padding-bottom: 15rem;
        }
    }
}









/* ========== FLUID TYPOGRAPHY ==========
    RANGE   TARGET    VW (px)   HTML-FONT (px)
    MIN     MOBILE    >= 320    16
    MEDIAN  TABLET    ~= 780    23
    MAX     DESKTOP+  <= 1100   28

    https://www.madebymike.com.au/writing/fluid-type-calc-examples/
    minFont + (maxFont - minFont) * [(100vw - minVPWidth) / (maxVPWidth - minVPWidth)]
   ====================================== */
// @media screen and (min-width: 320px) {
//     html {
//         font-size: calc(16px + 12 * ((100vw - 320px) / 780));
//     }
// }

// @media screen and (min-width: 1100px) {
//     html {
//         font-size: 28px;
//     }
// }

// @media (min-width: 900px) {
//     main {
//         #about {
//             padding-bottom: 10rem;
//         }

//         #projects {
//             padding-bottom: 10rem;
//         }

//         #skills {
//             padding-bottom: 10rem;
//         }
//     }
// }

// @media (min-width: 1300px) {
//     main {
//         #about {
//             padding-bottom: 12rem;
//         }

//         #projects {
//             padding-bottom: 12rem;
//         }

//         #skills {
//             padding-bottom: 12rem;
//         }
//     }
// }

// @media (min-width: 1600px) {
//     main {
//         #about {
//             padding-bottom: 15rem;
//         }

//         #projects {
//             padding-bottom: 15rem;
//         }

//         #skills {
//             padding-bottom: 15rem;
//         }
//     }
// }