@import "./variables";
@import "./wave-animations";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font: 16px;
    background: $grey1;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: 1.5;
    @include fontRaleway();
}

h1, h2, h3, h4, p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
    cursor: pointer;
}

.container {
    position: relative;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

.static-wave {
    position: absolute;
    bottom: -1px;
    width: 100%;
}


header {
    position: relative;
    overflow: hidden;

    #navbar {
        @include flex(row, center, baseline);
        position: absolute;
        z-index: 1;
        
        width: 100%;
        height: 2rem;
        margin-top: 0.8rem;

        .logo {
            height: 100%;
            
            img {
                height: 100%;
            }
        }

        .links {
            margin-left: auto;

            .link {
                margin-left: 0.5rem;
                
                img {
                    height: 1.5rem;
                    opacity: 50%;
                    transition: transform 0.2s ease-in-out;

                    &:hover,
                    &:active {
                        opacity: 100%;
                        transform: scale(1.2);
                        user-select: none;
                    }
                }
            }
        }
    }

    #hero {
        text-align: center;
        width: 100%;
        
        .title {
            font-weight: 300;
            font-size: 1.2rem;
            color: $grey4;

            letter-spacing: 2px;
            text-transform: uppercase;
        }

        .subtitle {
            font-weight: 200;
            font-size: 1.4rem;
            color: $grey2;

            span {
                font-weight: 100;
                font-size: 0.8rem;

                letter-spacing: 1px;
            }
        }

        .links {
            @include flex(row, center, center);

            .link {
                @include flex(row, center, center);
                width: 4rem;
                height: 1.6rem;
                margin: 1rem;

                border: 2px solid $grey4;
                border-radius: 3px;
                
                font-size: 0.6rem;
                font-weight: 500;
                text-transform: uppercase;
                transition: transform 0.2s ease-in-out;

                &:hover,
                &:active {
                    background: $grey4;
                    color: white;
                    
                    transform: scale(1.1);
                    user-select: none;
                }
            }
        }

    }
}


main {
    width: 100%;
    overflow: hidden;

    #about {
        @include flex(column, center, center);
        @include fontPoppings();
        position: relative;
        width: 100%;
        padding: 1rem 0 8rem 0;
        background: $grey5;

        h3 {
            position: absolute;
            top: -0.7rem;
            left: 0;
            right: 0;
            margin: 0 auto;

            width: 8rem;
            background: $grey5;

            font-size: 0.9rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $grey1;
            text-align: center;
        }

        p {
            padding: 1.5rem;
            border: 1px solid $goldDark;
            border-radius: 3px;

            font-size: 0.7rem;
            font-weight: 300;
            text-align: justify;
            line-height: 1.8;
            color: $grey1;
        }

        .frame {
            position: absolute;
            height: 1.8rem;
            margin: 0.3rem;
        }
    }

    #projects {
        @include flex(column, center, center);
        position: relative;
        width: 100%;
        padding: 2rem 0 8rem 0;
        background-color: #353535;
        
        .project {
            &:nth-child(2) {
                margin-top: 2rem;
            }

            .display {
                @include flex(column, center, center);
                margin-bottom: 1rem;

                h4 {
                    @include fontRaleway();
                    font-weight: 300;
                    font-size: 1.5rem;
                    color: #C5C5C5;
                    margin-right: 2.2rem;

                    span {
                        color: #C5C5C56E;
                    }
                }

                img {
                    width: auto;
                    height: 9rem;
                }
            }

            .description {
                @include flex(column, center, center);
                width: 90%;
                margin: 0 auto;

                font-weight: 300;
                font-size: 0.8rem;
                color: #C5C5C5;
                text-align: justify;

                p {
                    width: 100%;
                    margin-top: 0.5rem;
                    color: #C5C5C5;
                }

                .disclosure {
                    font-size: 0.6rem;
                    font-style: italic;
                    color: #C5C5C585;
                    text-align: center;
                }

                .links {
                    @include flex(row, center, center);

                    .link {
                        @include flex(row, center, center);
                        width: 4rem;
                        height: 1.6rem;
                        margin: 1rem;
        
                        border: 1px solid #FFF;
                        border-radius: 2px;
                        
                        font-size: 0.6rem;
                        font-weight: 600;
                        text-transform: uppercase;
                        transition: transform 0.2s ease-in-out;
        
                        &:hover,
                        &:active {
                            background: #FFF;
                            color: $grey5;
                            
                            transform: scale(1.1);
                            user-select: none;
                        }
                    }
                }
            }
        }
    }

    #skills {
        position: relative;
        background: #252525;
        padding: 2rem 0 8rem 0;

        .skillset {
            @include flex(row, space-around, center);
            position: relative;
            // width: auto;
            margin: 2.5rem auto;
            padding: 0.5rem;
            border: 1px solid $goldDark;
            border-radius: 3px;

            h3 {
                position: absolute;
                top: -1.4rem;

                font-size: 0.8rem;
                font-weight: 300;
                text-transform: uppercase;
                color: $grey1;
                text-align: center;

            }

            img {
                width: auto;
                height: 2rem;
            }
        }
    }
}


footer {
    position: relative;
    width: 100%;
    padding: 2rem 0 8rem 0;
    background-color: #353535;

    #contact {
        
    }
}



// #skills-wrapper {
//     // border: 1px solid magenta;
//     @include flexCenter(row, center);
//     width: 100%;
//     height: 100%;
//     padding: 0 1rem;
//     background: $grey5;

//     box-shadow: inset 7px -6px 10px -5px #b6903780;

//     .skills {
//         @include flexCenter(row, space-evenly);
//         width: 100%;
//         height: 16rem;
        
//         .skill-set {
//             // border: 1px solid lightblue;
//             @include flexCenter(row, space-between);
//             width: auto;
//             height: 3rem;
//             border: 1px solid #dab55d44;
//             border-radius: 0.4rem;
//             // margin: 0 1rem;
    
//             img {
//                 width: auto;
//                 height: 2rem;
//                 margin: 0 0.5rem;
//             }
//         }
//     }
// }















/* ========== FLUID TYPOGRAPHY ==========
    RANGE   TARGET    VW (px)   HTML-FONT (px)
    MIN     MOBILE    >= 320    16
    MEDIAN  TABLET    ~= 780    23
    MAX     DESKTOP+  <= 1100   28

    https://www.madebymike.com.au/writing/fluid-type-calc-examples/
    minFont + (maxFont - minFont) * [(100vw - minVPWidth) / (maxVPWidth - minVPWidth)]
   ====================================== */
@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 12 * ((100vw - 320px) / 780));
    }
}

@media screen and (min-width: 1100px) {
    html {
        font-size: 28px;
    }
}

@media (min-width: 900px) {
    main {
        #about {
            padding-bottom: 10rem;
        }

        #projects {
            padding-bottom: 10rem;
        }

        #skills {
            padding-bottom: 10rem;
        }
    }
}

@media (min-width: 1300px) {
    main {
        #about {
            padding-bottom: 12rem;
        }

        #projects {
            padding-bottom: 12rem;
        }

        #skills {
            padding-bottom: 12rem;
        }
    }
}

@media (min-width: 1600px) {
    main {
        #about {
            padding-bottom: 15rem;
        }

        #projects {
            padding-bottom: 15rem;
        }

        #skills {
            padding-bottom: 15rem;
        }
    }
}