.wave {
  position: absolute;
  bottom: -5px;
  width: 200%;
}

.inverse-wave {
  position: absolute;
  top: -5px;
  width: 200%;
}

.waveLeft {
  left: 0;
  -webkit-animation: moveWaveLeft linear infinite;
          animation: moveWaveLeft linear infinite;
}

.waveRight {
  right: 0;
  -webkit-animation: moveWaveRight linear infinite;
          animation: moveWaveRight linear infinite;
}

.layer1 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.layer2 {
  bottom: 2px;
  opacity: 70%;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-animation-duration: 3.6s;
          animation-duration: 3.6s;
}

.layer3 {
  bottom: 10px;
  opacity: 40%;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-animation-duration: 3.2s;
          animation-duration: 3.2s;
}

.layer4 {
  bottom: 20px;
  opacity: 10%;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-animation-duration: 2.8s;
          animation-duration: 2.8s;
}

.inverse-layer1 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.inverse-layer2 {
  top: 2px;
  opacity: 70%;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-animation-duration: 3.6s;
          animation-duration: 3.6s;
}

.inverse-layer3 {
  top: 10px;
  opacity: 40%;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-animation-duration: 3.4s;
          animation-duration: 3.4s;
}

.inverse-layer4 {
  top: 20px;
  opacity: 10%;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-animation-duration: 3.2s;
          animation-duration: 3.2s;
}

@-webkit-keyframes moveWaveLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes moveWaveLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@-webkit-keyframes moveWaveRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@keyframes moveWaveRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font: 16px;
  background: #ECECECB3;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: normal;
}

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: inherit;
}

.container {
  position: relative;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

header #navbar {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  height: 2rem;
  margin-top: 0.8rem;
}

header #navbar .logo {
  height: 100%;
}

header #navbar .logo img {
  height: 100%;
}

header #navbar .links {
  margin-left: auto;
}

header #navbar .links .link {
  margin-left: 0.5rem;
}

header #navbar .links .link img {
  height: 1.5rem;
  opacity: 50%;
}

header #navbar .links .link img:hover, header #navbar .links .link img:active {
  opacity: 100%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header #hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5.5rem 0;
}

header #hero .title {
  font-weight: 300;
  font-size: 1.2rem;
  color: #454545;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header #hero .subtitle {
  font-weight: 200;
  font-size: 1.4rem;
  color: #858585;
}

header #hero .subtitle span {
  font-weight: 100;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

header #hero .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

header #hero .links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 1.6rem;
  margin: 1rem;
  border: 2px solid #454545;
  border-radius: 3px;
  font-size: 0.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

header #hero .links .link:hover, header #hero .links .link:active {
  border: none;
  background: #454545;
  color: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main {
  width: 100%;
  overflow: hidden;
}

main #about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  padding: 2rem 0;
  background: #252525;
}

main #about h3 {
  position: absolute;
  top: -0.7rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 8rem;
  background: #252525;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #ECECECB3;
  text-align: center;
}

main #about p {
  padding: 1.4rem;
  border: 1px solid #B69037;
  border-radius: 3px;
  font-size: 0.7rem;
  font-weight: 300;
  text-align: justify;
  line-height: 1.8;
  color: #ECECECB3;
}

main #about img {
  position: absolute;
  height: 1.8rem;
  margin: 0.3rem;
}

main #project {
  width: 100%;
  height: 10rem;
  background: lightcoral;
}

/* ========== FLUID TYPOGRAPHY ==========
    RANGE   TARGET    VW (px)   HTML-FONT (px)
    MIN     MOBILE    >= 320    16
    MEDIAN  TABLET    ~= 780    23
    MAX     DESKTOP+  <= 1100   28

    https://www.madebymike.com.au/writing/fluid-type-calc-examples/
    minFont + (maxFont - minFont) * [(100vw - minVPWidth) / (maxVPWidth - minVPWidth)]
   ====================================== */
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 12 * ((100vw - 320px) / 780));
  }
}

@media screen and (min-width: 1100px) {
  html {
    font-size: 28px;
  }
}
/*# sourceMappingURL=style.css.map */