@-webkit-keyframes waveAnimation1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
  }
}

@keyframes waveAnimation1 {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(90%);
            transform: translateX(90%);
  }
}

@-webkit-keyframes waveAnimation2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
}

@keyframes waveAnimation2 {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-90%);
            transform: translateX(-90%);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background: rgba(236, 236, 236, 0.7);
  font: 16px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  width: 100%;
  max-width: 1200px;
  height: 3rem;
  padding: 0 1rem;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

header .container .logo {
  width: auto;
  height: 1.5rem;
  margin: auto 0;
}

header .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

header .container .links a {
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: normal;
  margin-right: 1rem;
  font-size: 0.7rem;
  color: #252525;
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: normal;
  position: relative;
  width: 100%;
  height: 14rem;
  overflow: hidden;
}

#hero .title {
  font-weight: 500;
  font-size: 2rem;
  color: #656565;
}

#hero .subtitle {
  font-weight: 200;
  font-size: 1.5rem;
}

#hero .subtitle span {
  font-weight: 100;
  font-size: 0.8rem;
}

#hero .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.2rem;
  height: 1.4rem;
  margin: 1rem 1rem;
  border: 2px solid #656565;
  cursor: pointer;
}

#hero .links div a {
  font-size: 0.6rem;
  text-transform: uppercase;
}

#hero .wave {
  position: absolute;
  width: 180%;
  bottom: 0;
  height: 5rem;
  background: url("../resources/backgrounds/wave-10.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#hero .layer1 {
  z-index: 4;
  bottom: -1.5rem;
  opacity: 80%;
  -webkit-animation: waveAnimation1 20s linear 0s infinite;
          animation: waveAnimation1 20s linear 0s infinite;
}

#hero .layer2 {
  z-index: 3;
  bottom: -1.8rem;
  opacity: 60%;
  -webkit-animation: waveAnimation2 15s linear -5s infinite;
          animation: waveAnimation2 15s linear -5s infinite;
}

#hero .layer3 {
  z-index: 2;
  bottom: -1.5rem;
  opacity: 40%;
  -webkit-animation: waveAnimation1 10s linear -5s infinite;
          animation: waveAnimation1 10s linear -5s infinite;
}

#hero .layer4 {
  z-index: 1;
  bottom: -1.3rem;
  opacity: 20%;
  -webkit-animation: waveAnimation2 15s linear -2s infinite;
          animation: waveAnimation2 15s linear -2s infinite;
}

#hero .static-wave {
  position: absolute;
  bottom: -0.2rem;
  width: 120%;
}

#about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-weight: normal;
  position: relative;
  width: 100%;
  height: 25rem;
  padding: 0 1rem;
  padding-bottom: 3rem;
  background: #252525;
  color: rgba(236, 236, 236, 0.7);
  overflow: hidden;
}

#about-wrapper .about {
  position: relative;
  width: 100%;
  height: auto;
  padding: 1rem;
  border: 1px solid #B69037;
}

#about-wrapper .about h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 10;
  top: -0.8rem;
  left: 0;
  right: 0;
  width: 8rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1rem;
  background: url("../resources/backgrounds/white-grunge.jpg"), #252525;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1rem;
  font-weight: 100;
  text-transform: uppercase;
}

#about-wrapper .about p {
  font-size: 0.7rem;
  font-weight: 300;
  text-align: justify;
  line-height: 1.5rem;
}

#about-wrapper .about img {
  position: absolute;
  width: auto;
  height: 1.5rem;
  margin: 0.2rem;
}

#about-wrapper .static-wave {
  position: absolute;
  bottom: -0.5rem;
  width: 120%;
}

#projects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  padding-bottom: 2rem;
  background: #454545;
  overflow: hidden;
}

#projects-wrapper .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10rem;
  margin: 3rem 0;
}

#projects-wrapper .project img {
  width: auto;
  height: 100%;
}

#projects-wrapper .project .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  max-width: 18rem;
  height: 100%;
}

#projects-wrapper .project .details h4 {
  font-size: 1rem;
  font-weight: 200;
  color: #B69037;
}

#projects-wrapper .project .details p {
  font-size: 0.7rem;
  font-weight: 500;
  text-align: justify;
  line-height: 1rem;
  color: #AEAFB3;
}

#projects-wrapper .project .details .project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects-wrapper .project .details .project-links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 5.5rem;
  height: 1.4rem;
  margin: 1rem 1rem;
  border: 2px solid #000;
  font-weight: 700;
  color: #000;
}

#projects-wrapper .project .details .project-links a {
  font-size: 0.6rem;
  text-transform: uppercase;
}

#projects-wrapper .project .details .tech-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 1.5rem;
  padding: 0 1rem;
}

#projects-wrapper .project .details .tech-stack img {
  width: auto;
  height: 1rem;
  margin-left: auto;
}

#projects-wrapper .static-wave {
  position: absolute;
  bottom: -0.5rem;
  width: 120%;
}

#skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  background: #252525;
}

#skills-wrapper .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 16rem;
}

#skills-wrapper .skills .skill-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 3rem;
  border: 1px solid #dab55d44;
  border-radius: 0.4rem;
}

#skills-wrapper .skills .skill-set img {
  width: auto;
  height: 2rem;
  margin: 0 0.5rem;
}

footer {
  border: 1px solid magenta;
  width: 100%;
  height: 10rem;
  background: lavender;
}

/* ========== FLUID TYPOGRAPHY ==========
    RANGE   TARGET    VW (px)   HTML-FONT (px)
    MIN     MOBILE    >= 375    16.0
    MEDIAN  TABLET    ~= 790    24.0
    MAX     DESKTOP+  <= 1200   32.0

    https://www.madebymike.com.au/writing/fluid-type-calc-examples/
    minFont + (maxFont - minFont) * [(100vw - minVPWidth) / (maxVPWidth - minVPWidth)]
   ====================================== */
@media screen and (min-width: 375px) {
  html {
    font-size: calc(16px + 16 * ((100vw - 375px) / 825));
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 32px;
  }
}

@media screen and (max-width: 750px) {
  #projects-wrapper {
    height: 45rem;
  }
  #projects-wrapper .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 8rem;
    margin: 3rem 0;
  }
  #skills-wrapper {
    height: 20rem;
  }
  #skills-wrapper .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #skills-wrapper .skills .skill-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 1rem 0;
  }
}
/*# sourceMappingURL=style.css.map */