@import "./variables";
@import "./wave-animations";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font: 16px;
    background: $grey1;
}

body {
    margin: 0;
    line-height: 1.5;
    // @include fontRaleway();
}

h1, h2, h3, h4, p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    color: inherit;
}

.container {
    position: relative;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}


header {
    position: relative;
    overflow: hidden;

    #navbar {
        position: absolute;
        z-index: 1;
        
        @include flex(row, center, baseline);
        width: 100%;
        height: 2rem;
        margin-top: 0.8rem;

        .logo {
            height: 100%;
            
            img {
                height: 100%;
            }
        }

        .links {
            margin-left: auto;

            .link {
                margin-left: 0.5rem;

                img {
                    height: 1.5rem;
                    opacity: 50%;

                    &:hover,
                    &:active {
                        opacity: 100%;
                        
                        transform: scale(1.1);
                        user-select: none;
                    }
                }
            }
        }
    }

    #hero {
        // border: 0.1px solid magenta;
        @include flex(column, center, center);
        padding: 5.5rem 0;

        .title {
            font-weight: 300;
            font-size: 1.2rem;
            color: $grey4;

            letter-spacing: 2px;
            text-transform: uppercase;
        }

        .subtitle {
            font-weight: 200;
            font-size: 1.4rem;
            color: $grey2;

            span {
                font-weight: 100;
                font-size: 0.8rem;

                letter-spacing: 1px;
            }
        }

        .links {
            @include flex(row, center, baseline);

            .link {
                @include flex(row, center, center);
                width: 4rem;
                height: 1.6rem;
                margin: 1rem;

                border: 2px solid $grey4;
                border-radius: 3px;
                font-size: 0.6rem;
                font-weight: 500;
                text-transform: uppercase;

                &:hover,
                &:active {
                    border: none;
                    background: $grey4;
                    color: white;
                    
                    transform: scale(1.1);
                    user-select: none;
                }
            }
        }

    }
}


main {
    width: 100%;
    overflow: hidden;

    #about {
        // border: 0.1px solid magenta;
        @include flex(column, center, center);
        @include fontPoppings();
        width: 100%;
        // height: 18rem;
        padding: 2rem 0;
        background: $grey5;

        h3 {
            position: absolute;
            top: -0.7rem;
            left: 0;
            right: 0;
            margin: 0 auto;

            width: 8rem;
            background: $grey5;

            font-size: 0.9rem;
            font-weight: 300;
            text-transform: uppercase;
            color: $grey1;
            text-align: center;
        }

        p {
            padding: 1.4rem;
            border: 1px solid $goldDark;
            border-radius: 3px;

            font-size: 0.7rem;
            font-weight: 300;
            text-align: justify;
            line-height: 1.8;
            color: $grey1;
        }

        img {
            position: absolute;
            height: 1.8rem;
            margin: 0.3rem;
        }
    }

    #project {
        width: 100%;
        height: 10rem;
        background: lightcoral;
    }

    #skills {

    }

}


footer {

    #contact {
        
    }
}


// #about-wrapper {
//     // border: 1px solid magenta;
//     @include flexCenter(row, center);
//     @include fontPoppings();
//     position: relative;
//     width: 100%;
//     height: 25rem;
//     padding: 0 1rem;
//     padding-bottom: 3rem;
//     background: $grey5;
//     color: $grey1;
//     overflow: hidden;

//     .about {
//         position: relative;
//         width: 100%;
//         height: auto;
//         padding: 1rem;
//         border: 1px solid $goldDark;

//         h3 {
//             @include flexCenter(row, center);
//             position: absolute;
//             z-index: 10;
//             top: -0.8rem;
//             left: 0;
//             right: 0;
            
//             width: 8rem;
//             height: auto;
//             margin: 0 auto;
//             padding: 0 1rem;
//             background: $grey5;

//             font-size: 1rem;
//             font-weight: 100;
//             text-transform: uppercase;
//         }

//         p {
//             font-size: 0.7rem;
//             font-weight: 300;
//             text-align: justify;
//             line-height: 1.5rem;
//         }

//         img {
//             position: absolute;
//             width: auto;
//             height: 1.5rem;
//             margin: 0.2rem;
//         }
//     }

//     .static-wave {
//         position: absolute;
//         bottom: -0.5rem;
//         width: 120%;
//     }
// }


// #projects-wrapper {
//     // border: 1px solid magenta;
//     @include flexCenter(column, space-around);
//     position: relative;
//     width: 100%;
//     height: 100%;
//     padding: 0 1rem;
//     padding-bottom: 2rem;
//     // background: $grey4;
//     background: rgb(53, 53, 53);
//     // border: 2px solid #b6903780;
//     // border-top: 0;
//     // border-bottom: 0;
//     // box-shadow: inset 3px -10px 10px 0 #b6903780;
//     box-shadow: inset 7px 0px 10px -6px #b6903780;
//     overflow: hidden;

//     .project {
//         @include flexCenter(row, center);
//         // border: 1px solid lightblue;
//         width: 100%;
//         height: 10rem;
//         margin: 3rem 0;

//         img {
//             width: auto;
//             height: 100%;
//         }

//         .details {
//             @include flexCenter(column, space-between);
//             @include fontRaleway();
//             // border: 1px solid magenta;
//             width: 100%;
//             max-width: 18rem;
//             height: 100%;

//             h4 {
//                 font-size: 1rem;
//                 font-weight: 200;
//                 color: $goldDark;
//             }

//             p {
//                 font-size: 0.7rem;
//                 font-weight: 500;
//                 text-align: justify;
//                 line-height: 1rem;
//                 color: #AEAFB3;
//             }

//             .project-links {
//                 @include flexCenter(row, center);

//                 div {
//                     @include flexCenter(row, center);
//                     cursor: pointer;
//                     width: 5.5rem;
//                     height: 1.4rem;
//                     margin: 1rem 1rem;
//                     border: 2px solid #000;
//                     font-weight: 700;
//                     color: #000;
//                 }
    
//                 a {
//                     font-size: 0.6rem;
//                     text-transform: uppercase;
//                 }
//             }

//             .tech-stack {
//                 @include flexCenter(row, flex-start);
//                 width: 100%;
//                 height: 1.5rem;
//                 padding: 0 1rem;

//                 img {
//                     width: auto;
//                     height: 1rem;
//                     margin-left: auto;
//                 }
//             }
//         }
//     }


//     // .static-wave-new {
//     //     position: absolute;
//     //     z-index: 10;
//     //     bottom: -7rem;
//     //     width: 100%;

//     //     .shadow {
//     //         box-shadow: inset 3px 0px 10px 0 #b6903780;
//     //     }
//     // }
// }

// .static-wave-test {
//     stroke: 1px solid #b6903780;
// }


// .static-wave-shadow {
//     position: absolute;
//     bottom: 0;
//     width: 90%;

//     .static-wave-shadow-path {
//         fill: $grey5;
//         // stroke: 1px solid #b6903780;
//         // box-shadow: inset 3px -10px 10px 0 #b6903780;
//     }
// }



// #skills-wrapper {
//     // border: 1px solid magenta;
//     @include flexCenter(row, center);
//     width: 100%;
//     height: 100%;
//     padding: 0 1rem;
//     background: $grey5;

//     box-shadow: inset 7px -6px 10px -5px #b6903780;

//     .skills {
//         @include flexCenter(row, space-evenly);
//         width: 100%;
//         height: 16rem;
        
//         .skill-set {
//             // border: 1px solid lightblue;
//             @include flexCenter(row, space-between);
//             width: auto;
//             height: 3rem;
//             border: 1px solid #dab55d44;
//             border-radius: 0.4rem;
//             // margin: 0 1rem;
    
//             img {
//                 width: auto;
//                 height: 2rem;
//                 margin: 0 0.5rem;
//             }
//         }
//     }
// }















/* ========== FLUID TYPOGRAPHY ==========
    RANGE   TARGET    VW (px)   HTML-FONT (px)
    MIN     MOBILE    >= 320    16
    MEDIAN  TABLET    ~= 780    23
    MAX     DESKTOP+  <= 1100   28

    https://www.madebymike.com.au/writing/fluid-type-calc-examples/
    minFont + (maxFont - minFont) * [(100vw - minVPWidth) / (maxVPWidth - minVPWidth)]
   ====================================== */
@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 12 * ((100vw - 320px) / 780));
    }
}

@media screen and (min-width: 1100px) {
    html {
        font-size: 28px;
    }
}